article {
  max-width: 980px;
  margin: 0 auto;
}

footer {
  text-align: center;
}

.platform {
  margin-bottom: var(--uwe-gutter-regular);
}

.binary {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3em;
}

.binary > :first-child {
  min-width: 6em;
  flex: 0;
}

.binary > :first-child > * {
  line-height: 1;
}

.binary > :first-child > small {
  font-size: 0.8em;
}

@media screen and (max-width: 640px) {
  main article {
    padding: 0 var(--uwe-gutter-regular);
  }
}
